body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
}

#box1{
    background-color: red;
}
#box2{
    background-color: aquamarine;
}
#box3{
    background-color: aqua;
}
#box4{
    background-color: greenyellow;
}
#box5{
    background-color: cyan;
}